<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side dive -->
                    <div class="col-md-6 col-12 main_header_right align-itmes-center ">
                        <figure>
                         <img src="images/arbaj1.png" alt="ArbajKhan" class="img-fluid" title="Arbaj khan" />
                        </figure>
                     </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the weathe app</p>
                        <h1>I Am A  <span class="text_clr" >Mern Stack Developer</span> And A Freelancer</h1>
                        <a href="/weather"><button>about me</button></a>
                    </div>
                    <!-- right side dive -->
                    
                </div>
            </div>
        </div>
    </div>
    <!-- footer codde -->
    {{>footer}}
</body>

</html>